p,
em {
  border: 1px solid red;
}
section {
  width: 100%;
}
/* Padding */
.boxes {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 50px;
  border: 4px solid green;
}
.box {
  width: 50px;
  height: 50px;
  border: 3px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box.box-one {
  border-color: red;
  margin-bottom: 20px;
  margin-top: 30px;
}
.box.box-two {
  border-color: green;
  margin-top: 50px;
}
.box.box-three {
  border-color: aqua;
}
